@charset "UTF-8";

.item{
  padding: 2em 1em;
  font-size: 1.2rem;
  text-align: center;
  background-color: #9ED4E2;
  
  margin: 5px;
}

.container{
  max-width: 600px;
  margin: 0 auto;
  
  display: -ms-grid;
  display: grid;
  
  -ms-grid-columns: 100px 1fr 100px;
  grid-template-columns: 100px 1fr 100px;

  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.item_header{
  grid-column: 1/4;
  
  //grid-column-start: 1;
  //grid-column-end: 4;
  
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column-span: 3;
}

.item_footer{
  grid-column: 1/4;
  
  //grid-column-start: 1;
  //grid-column-end: 4;
  
  -ms-grid-column: 1;
  -ms-grid-row: 3;
  -ms-grid-column-span: 3;
}

.item_nav{
  -ms-grid-column: 1;
  -ms-grid-row: 2;
}

.item_main{
  -ms-grid-column: 2;
  -ms-grid-row: 2;
}

.item_sidebar{
  -ms-grid-column: 3;
  -ms-grid-row: 2;
}